<h1>{{title}}</h1>
<nav class="display-section">
  <a id="create-new" class="link-button" href="/tasks/new">Create new Note</a>
  <select name="style" id="style">
    <option value="dark">Dark-Style</option>
    <option value="light" selected>Light-Style</option>
  </select>
</nav>
<br />
<div id="todo-control" class="display-section">
  <a class="link-button{{#if isFinishedSorting}} active{{/if}}"
    href="/tasks/sort/finished/direction/{{invertedDirection}}/showfinished/{{showfinished}}/">By finished Date</a>
  <a class="link-button{{#if isCreationSorting}} active{{/if}}"
    href="/tasks/sort/creation/direction/{{invertedDirection}}/showfinished/{{showfinished}}/">By created Date</a>
  <a class="link-button{{#if isImportanceSorting}} active{{/if}}"
    href="/tasks/sort/importance/direction/{{invertedDirection}}/showfinished/{{showfinished}}/">By Importance Date</a>
  <a class="link-button link-button-toggle{{#if showfinished}} active{{/if}}"
    href="/tasks/sort/{{sort}}/direction/{{direction}}/showfinished/{{invertedshowfinished}}/">Show finished</a>
</div>
<br />
<div id="todo-list" class="display-section">
  {{#each todos}}
  <div class="todo-item">
    <label for="finished"> Finished</label>
    <input type="checkbox" name="finished" readonly {{#if finished}}checked{{/if}} disabled>
    <h3>{{title}}</h3>
    <span class="task-description" >{{description}}</span>
    <a class="link-button task-edit" href="/tasks/{{_id}}">Edit</a>
  </div>
  <br />
  {{/each}}
</div>